/* Borders */
/* generic element borders */
/*.entry,*/
GtkComboBox.combobox-entry .entry,
GtkComboBox.combobox-entry .button,
.spinbutton.vertical .button:active,
.inline-toolbar.toolbar.vertical .button:active {
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

GtkComboBox.combobox-entry .entry:insensitive,
GtkComboBox.combobox-entry .button:insensitive,
.button:active:insensitive,
.spinbutton.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical .button.default:insensitive {
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

/*.trough row {
	border-radius: 0px;
	border-style: solid;
	border-color: @trough_bg_color;
}*/

GtkProgressBar.trough {
	box-shadow: none;
}

/* focused element borders */
GtkComboBox.combobox-entry .entry:focus,
.button.default:active,
.inline-toolbar.toolbar.vertical .button.default:active {
	border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: @borders_focused;
}

/* generic button borders */
.button {
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: @button_border;
}

.button:hover {
	border-color: @button_hover_border;
}

.toolbar .button:hover {
	border-color: transparent;
}

.spinbutton.vertical .button,
.inline-toolbar.toolbar.vertical .button {
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

/* focused button borders */
.button.default,
.button:focus { 
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: @borders_focused;
}

.button.default:active,
.button:active:focus { 
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: @borders_focused;
}

/* insensitive button borders */
.button:insensitive,
.button.default:insensitive {
}

/* primary toolbar button borders */
.primary-toolbar .button:hover {
	border-color: transparent;
}

.primary-toolbar .button:active {
	border-color: transparent;
}

/* tooltip elements borders */
.tooltip .entry {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.tooltip .button {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

/* tooltip focused elements borders */
.tooltip .entry:focus {
	border-width: 1px;
	border-style: solid;
	border-color: @borders_focused;
}

/* primary toolbar - generic element borders */
/*.primary-toolbar .entry,*/
.primary-toolbar GtkComboBox.combobox-entry .entry,
.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar .button:active,
.primary-toolbar .button.raised:active,
.primary-toolbar .raised .button:active,
.inline-toolbar.toolbar .button:active,
.primary-toolbar GtkComboBox .button:active {
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

.primary-toolbar .button.raised:insensitive,
.primary-toolbar .raised .button:insensitive,
.primary-toolbar .button.raised.default:insensitive,
.primary-toolbar .raised .button.default:insensitive,
.inline-toolbar.toolbar .button.default:insensitive,
.inline-toolbar.toolbar .button:insensitive,
.primary-toolbar GtkComboBox .button:insensitive {
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

/* primary toolbar - focused element borders */
.primary-toolbar .button:active:focus,
.primary-toolbar GtkComboBox.combobox-entry .entry:focus,
.primary-toolbar .button.raised.default:active,
.primary-toolbar .raised .button.default:active,
.inline-toolbar.toolbar .button.default:active {
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: @borders_focused;
}

/* primary toolbar - generic button borders */
.primary-toolbar .button.raised,
.primary-toolbar .raised .button,
.inline-toolbar.toolbar .button,
.primary-toolbar GtkComboBox .button {
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

/* primary toolbar - focused button borders */
.primary-toolbar .button.raised.default,
.primary-toolbar .raised .button.default,
.inline-toolbar.toolbar .button.default {
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	border-color: @borders_focused;
}

/* column-headers borders */
column-header.button,
column-header .button,
column-header.button:active,
column-header .button:active,
column-header.button:active:hover,
column-header .button:active:hover,
column-header.button:insensitive,
column-header .button:insensitive {
	border-width: 0 1px 1px 0;
	border-radius: 0;
	border-style: solid;
	border-color: @borders;
}

column-header.button,
column-header .button,
column-header.button:active,
column-header .button:active,
column-header.button:active:hover,
column-header .button:active:hover,
column-header .button.dnd,
column-header.button:focus,
column-header .button:focus,
column-header.button:active:focus,
column-header .button:active:focus,
column-header .button.dnd:focus {
	border-width: 0 1px 1px 0;
	border-radius: 0;
	border-style: solid;
	border-color: @borders;
}

column-header.button:insensitive,
column-header .button:insensitive {
}

column-header.button:last-child,
column-header:last-child .button,
column-header.button:last-child:active,
column-header:last-child .button:active,
column-header.button:last-child:active:hover,
column-header:last-child .button:active:hover {
	border-right-width: 0;
}

/* pushed colored buttons borders */
.selection-mode.toolbar .suggested-action.button,
.selection-mode.toolbar GtkToolButton.suggested-action .button {
	border-radius: 30px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: transparent;
}
