/* Default color scheme */
@define-color theme_base_color #fff;
@define-color theme_alt_color #e8eaed;
@define-color theme_text_color #3c4c5c;
@define-color theme_selected_bg_color #4b9ddb;
@define-color theme_selected_fg_color @theme_base_color;

@define-color placeholder_text_color shade(@text_color, 3.5);

@define-color theme_unfocused_base_color shade(@insensitive_bg_color, 1.015); /* I don't want the same color, hope not to hurt usability to much here */
@define-color theme_unfocused_text_color mix(@theme_unfocused_fg_color, @theme_text_color, 0.5); /* Need something darker here to have stuff nicelly readable*/
@define-color theme_unfocused_fg_color shade(@theme_alt_color, 0.6);
@define-color theme_unfocused_bg_color @theme_alt_color;
@define-color theme_unfocused_selected_bg_color #9b9eaf;
@define-color theme_unfocused_selected_fg_color @theme_selected_fg_color;
@define-color unfocused_button_background @theme_unfocused_bg_color;
@define-color unfocused_borders @trough_bg_alt_color;
@define-color unfocused_insensitive_borders mix(@theme_unfocused_bg_color, @unfocused_borders, 0.5);
@define-color unfocused_insensitive_fg_color mix(@theme_unfocused_bg_color, @theme_unfocused_fg_color, 0.5);
@define-color unfocused_insensitive_bg_color mix(@theme_unfocused_bg_color, @theme_unfocused_base_color, 0.5);
@define-color unfocused_dark_bg mix(@theme_unfocused_bg_color, @unfocused_borders, 0.3);

@define-color menu_bg_color @theme_base_color;
@define-color menu_fg_color @theme_text_color;

@define-color menu_controls_color shade (@theme_text_color, 0.9);

@define-color menu_combobox_border @theme_selected_bg_color;
@define-color menu_separator shade (@menu_bg_color, 0.96);

@define-color menubar_background #fff; /* Same color as window decorations */
@define-color menubar_fg_color @theme_text_color;
@define-color menubar_hover_background #4b9ddb;
@define-color menubar_hover_fg_color @theme_base_color;

@define-color sidebar_fg @borders_focused;
@define-color sidebar_hover_fg @theme_text_color;
@define-color sidebar_bg shade(@theme_alt_color,1.06);
@define-color sidebar_hover_bg @theme_selected_fg_color;
@define-color sidebar_bg_unfocused mix(@sidebar_bg, @theme_unfocused_base_color, 0.5);
@define-color sidebar_selected_fg @theme_selected_fg_color;
@define-color sidebar_selected_bg @theme_selected_bg_color;

@define-color sidebar_scrollbar_trough transparent;
@define-color sidebar_scrollbar_slider @trough_bg_alt_color;
@define-color sidebar_scrollbar_slider_hover @borders_focused;

@define-color borders @theme_alt_color;
@define-color borders_focused #7c90a3;
@define-color borders_insensitive @trough_bg_color;

@define-color button_background transparent;
@define-color button_foreground @theme_text_color;
@define-color button_border @insensitive_bg_color;

@define-color button_insensitive_background transparent;
@define-color button_insensitive_foreground @trough_bg_alt_color;
@define-color button_hover_border @theme_selected_bg_color;
@define-color button_hover_foreground #4580ad;

@define-color button_active_background @button_border;
@define-color button_active_text @theme_text_color;

@define-color insensitive_bg_color @theme_alt_color;
@define-color insensitive_fg_color @trough_bg_alt_color;
@define-color insensitive_scale_borders @insensitive_borders;

@define-color trough_bg_color @theme_alt_color;
@define-color trough_bg_alt_color #bcc3cc; /* color for troughs on toolbars */
@define-color insensitive_trough_bg_color @trough_bg_alt_color;

@define-color scrollbar_trough transparent;
@define-color scrollbar_trough_insensitive shade(@theme_alt_color, 1.0);
@define-color scrollbar_trough_unfocused shade(@theme_unfocused_bg_color, 0.9);

@define-color scrollbar_slider @trough_bg_alt_color;
@define-color scrollbar_slider_hover @borders_focused;
@define-color scrollbar_slider_active @button_active_background;
@define-color scrollbar_slider_insensitive @theme_alt_color; 
@define-color scrollbar_slider_unfocused @theme_unfocused_bg_color;

@define-color row_hover @sidebar_bg;
@define-color row_sel_hover @button_hover_foreground;

@define-color switch_slider_color #eee;
@define-color switch_trough_active_color @theme_base_color;
@define-color switch_trough_active_bg_a shade(@theme_selected_bg_color, 0.96);
@define-color switch_trough_active_bg_b shade(@theme_selected_bg_color, 0.89);

@define-color progressbar_background @theme_selected_bg_color;

@define-color entry_text_color @theme_text_color;
@define-color entry_background @theme_base_color;

@define-color entry_inset alpha(black, 0.1);

@define-color internal_element_color @trough_bg_alt_color;
@define-color internal_element_prelight @theme_text_color;
@define-color internal_element_insensitive mix(@internal_element_color, @theme_base_color, 0.7);

@define-color scale_progress_fill shade(@theme_selected_bg_color, 0.96);
@define-color scale_highlight_border shade(@theme_selected_bg_color, 0.82);
@define-color scale_highlight_bg @theme_selected_bg_color;
@define-color scale_highlight_shadow alpha(white, 0.50);

@define-color notebook_tab_background transparent;

@define-color toolbar_background @theme_alt_color;
@define-color toolbar_border_color @trough_bg_alt_color;

@define-color toolbar_button_background transparent;
@define-color toolbar_button_active_background @trough_bg_alt_color;
@define-color toolbar_button_active_hover_background @toolbar_button_active_background;

@define-color toolbar_button_color @borders_focused;
@define-color toolbar_button_insensitive_color @trough_bg_alt_color;
@define-color toolbar_button_active_color @theme_base_color;
@define-color toolbar_button_hover_color @theme_text_color;

@define-color toolbar_button_prelight alpha(white, 0.4);
@define-color toolbar_separator @trough_bg_alt_color;

@define-color app_notification_a shade(@theme_alt_color, 0.92);
@define-color app_notification_b shade(@theme_alt_color, 1.0);
@define-color app_notification_c shade(@theme_alt_color, 1.05);

@define-color app_notification_border @trough_bg_alt_color;

@define-color treeview_focus_border #2a79cb;

@define-color view_separators @theme_alt_color;
@define-color view_symbolic_color shade(@internal_element_color, 0.80);

@define-color expander_row_selected_color shade(@theme_selected_bg_color, 1.2);

@define-color inset_light_color alpha(white, 0.45);
@define-color inset_dark_color alpha(black, 0.07);

@define-color suggested_action_button_a shade(@theme_selected_bg_color, 0.96);
@define-color suggested_action_button_b shade(@theme_selected_bg_color, 0.89);
@define-color suggested_action_button_border shade(@theme_selected_bg_color, 0.82);
@define-color suggested_action_button_fg @theme_base_color;
@define-color suggested_action_button_shadow shade(@suggested_action_button_border, 1.15);

/**************************
 * Selection Mode classes *
 **************************/
@define-color selection_toolbar_bg @trough_bg_alt_color;
@define-color selection_toolbar_fg @button_foreground;

@define-color selection_toolbar_button_bg @button_active_background;
@define-color selection_toolbar_button_fg @button_foreground;
@define-color selection_toolbar_button_active_fg @button_active_background;

@define-color selection_menu_fg @selection_toolbar_fg;
@define-color selection_menu_hover shade(@selection_menu_fg, 0.80);
@define-color selection_menu_active shade(@selection_menu_fg, 0.60);

/**************
 * GNOME Apps *
 **************/
@define-color entry_tag_bg shade(@theme_selected_bg_color, 0.89);
@define-color entry_tag_fg @theme_base_color;


/* common color definitions to the light and dark variations */

/*******
 * OSD *
 *******/
@define-color osd_highlight #ffffff;
@define-color osd_lowlight #d2d3d4;
@define-color osd_base #252629;
@define-color osd_base_backdrop shade(@osd_base, 1.40);

@define-color osd_fg @theme_base_color;
@define-color osd_hover_fg @osd_fg;
@define-color osd_insensitive_fg alpha(@osd_fg, 0.6);

@define-color osd_bg alpha(#010205,0.7);
@define-color osd_bg_backdrop alpha(@osd_base_backdrop, 0.90);
@define-color osd_bg_hover alpha(#010205,0.90);
@define-color osd_bg_active #010205;
@define-color osd_bg_insensitive alpha(#010205,0.4);
@define-color osd_bg_active_insensitive alpha(#010205,0.6);

@define-color osd_text_shadow alpha(black, 0.75);

@define-color osd_toolbar_bg_a alpha(@osd_base, 0.80);
@define-color osd_toolbar_bg_b alpha(#101010, 0.80);
@define-color osd_toolbar_bg_c alpha(shade(@osd_base, 1.02), 0.80);

@define-color osd_button_border alpha(@osd_highlight, 0.40);
@define-color osd_button_border_active alpha(@osd_highlight, 0.8);
@define-color osd_button_inset shade(@osd_fg, 0.67);
@define-color osd_button_shadow alpha(black, 0.35);

@define-color osd_trough_bg shade(@osd_bg, 1.10);
@define-color osd_highlight_trough_bg @theme_selected_bg_color;
@define-color osd_insensitive_trough_bg shade(@osd_bg,1.10);

@define-color osd_view_bg alpha(@osd_bg, 0.60);
@define-color osd_view_bg_backdrop alpha(@osd_bg_backdrop, 0.60);

@define-color osd_scrollbar_trough shade(@osd_base, 1.70);
@define-color osd_scrollbar_trough_backdrop shade(@osd_base_backdrop, 1.40);

@define-color osd_scrollbar_slider shade(@osd_scrollbar_trough, 1.50);
@define-color osd_scrollbar_slider_prelight shade(@osd_scrollbar_trough, 1.80);
@define-color osd_scrollbar_slider_active shade(@osd_scrollbar_trough, 2.10);
@define-color osd_scrollbar_slider_backdrop shade(@osd_scrollbar_trough_backdrop, 1.50);

/***********
 * Popover *
 ***********/
@define-color osd_popover_bg alpha(@osd_base, 0.90);

/*********************
 * Error/Warning/... *
 *********************/
@define-color link_color #4580ad;
@define-color warning_color #ff707c;
@define-color error_color #d95f69;
@define-color success_color #399e94;

@define-color info_fg_color @button_foreground;
@define-color info_bg_color @button_active_background;
@define-color warning_fg_color @button_foreground;
@define-color warning_bg_color @warning_color;
@define-color question_fg_color @button_foreground;
@define-color question_bg_color @theme_selected_bg_color;
@define-color error_fg_color @button_foreground;
@define-color error_bg_color @error_color;

/*****************
 * Fallback Mode *
 *****************/
@define-color os_chrome_bg_color black;
@define-color os_chrome_fg_color #ccc;
@define-color os_chrome_selected_bg_color #333;
@define-color os_chrome_selected_fg_color white;

/************
 * Tooltips *
 ************/
@define-color theme_tooltip_bg_color #000;
@define-color theme_tooltip_fg_color @theme_base_color;
@define-color theme_tooltip_border transparent;

/******
 * WM *
 ******/
@define-color wm_title @theme_text_color;
@define-color wm_unfocused_title @theme_unfocused_fg_color;
@define-color wm_highlight #ffffff;
@define-color wm_title_highlight_dark alpha(#ffffff, 0.0);
@define-color wm_title_highlight #ffffff;
@define-color wm_title_shadow @wm_title_highlight;

@define-color wm_bg_a shade (@theme_alt_color, 1.1);
@define-color wm_bg_b @theme_alt_color;

@define-color wm_shadow alpha(black, 0.7);

@define-color wm_button_bg_a shade (@theme_alt_color, 1.0);
@define-color wm_button_bg_b shade (@theme_alt_color, 0.85);
@define-color wm_button_bg_c shade (@theme_alt_color, 0.8);
@define-color wm_button_bg_d shade (@theme_alt_color, 0.9);

@define-color wm_button_bg_hover_a shade (@wm_button_bg_a, 1.1);
@define-color wm_button_bg_hover_b shade (@wm_button_bg_b, 1.1);
@define-color wm_button_bg_hover_c shade (@wm_button_bg_c, 1.1);
@define-color wm_button_bg_hover_d shade (@wm_button_bg_d, 1.1);

@define-color wm_button_bg_active_a shade (@theme_alt_color, 0.7);
@define-color wm_button_bg_active_b shade (@theme_alt_color, 0.9);
@define-color wm_button_bg_active_c shade (@theme_alt_color, 0.9);

@import url("gtk-widgets-backgrounds.css");
@import url("gtk-widgets-borders.css");
@import url("gtk-widgets-assets.css");
@import url("gtk-widgets.css");
@import url("gnome-applications.css");
@import url("other-applications.css");
